<header id="masthead" class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a href="/" rel="home">Spring</a></h1>
        <h2 class="site-description">Александра Андриуца</h2>
    </div>
    <nav id="site-navigation" class="main-navigation">
        <button class="menu-toggle">Меню</button>
        <div class="menu-menu-1-container">
            <ul id="menu-menu-1" class="menu">
                <li><a href="/">Альбомы</a></li>
                <li><a href="/about">О себе</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/album/create">Добавить альбом</a></li>
                <li><a href="/login">Модератор</a></li>
            </ul>
        </div>
    </nav>
</header>