<article class="hentry">
    <header class="entry-header">
        <h1 class="entry-title">О себе</h1>
    </header>

    <div class="entry-content">
        <p><img style="border:10px solid #f4f5f6"
                src="img/alex.jpg"
                alt="bg5" width="430" class="alignright"></p>
        <p>Фотография является моей любимой профессией и страстью. Я считаю, что каждый кадр является уникальным произведением искусства и может перенести зрителя из реальной жизни в невероятный мир изображения. Я снимаю все, начиная от портретов, натюрмортов и заканчивая фотографией моды и событий.</p>
        <p> Моя цель - зафиксировать на фотографиях самые яркие моменты жизни и запечатлеть эмоции, которые будут сохранены на долгие годы. Если вы ищете профессионального фотографа, который может воплотить ваши желания в реальность - обращайтесь к мне, и я с радостью помогу вам сохранить воспоминания на долгие годы.</p>
        <h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Alexandra Andriutsa</h2>
    </div>
</article>