<article id="post-39" class="post-39 page type-page status-publish hentry">
    <header class="entry-header">
        <h1 class="entry-title">Контакты</h1>
    </header>
    <div class="entry-content">

        <div class="wpcmsdev-columns">
            <div class="column column-width-one-half">
                <h4>Быстрая связь</h4>

                <form class="wpcf7" method="post" action="" id="contactform">
                    <div class="form">
                        <p><input type="text" name="name" placeholder="Имя *"></p>
                        <p><input type="text" name="email" placeholder="E-mail *"></p>
                        <p><textarea name="comment" rows="3" placeholder="Сообщение *"></textarea></p>
                        <input type="submit" id="submit" class="clearfix btn" value="Отправить">
                    </div>
                </form>
                <div class="done">
                    //
                </div>

            </div>
            <div class="column column-width-one-half">
                <h4>Телефон: +7 (912) 543 88 83</h4>
                <p>
                    Если вы хотите нанять меня или у вас есть какие-либо отзывы или вопросы о нашем сервисе в целом,
                    пожалуйста, отправьте
                    нам сообщение, заполнив нашу форму запроса. Но лучше всего позвонить кому-нибудь, мы всегда будем
                    рядом
                    с вами.
                </p>
                <p>
                    Понедельник – Пятница: с 9:00 до 17:00<br>
                    Суббота - Воскресенье: с 10:00 до 17:00<br>
                </p>
            </div>
        </div>
    </div>
</article>