<form id="login_form" class="form_class" action="login/login-access.php" method="post">
    <div class="form_div">
        <label>Логин:</label>
        <input class="field_class" name="login_txt" type="text" autofocus>
        <label>Пароль:</label>
        <input id="pass" class="field_class" name="password_txt" type="password">
        <button class="submit_class" type="submit" form="login_form" onclick="return validarLogin()">Войти</button>
    </div>
</form>